<div>
  <center>
    <h1 class="foos">Recent Games</h1>
    <div class="break"></div>
  </center>
</div>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Game #</th>
      <th>Started At</th>
      <th>Completed At</th>
    </tr>
  </thead>
  <tbody>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.id, edit_game_path(game) %></td>
      <td><%= game.created_at %></td>
      <td><%= game.completed_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>