// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-padding td{
      padding-bottom: .25em;
}

tr.position-row td{
	text-align:center;
	padding-bottom: .5em !important;
}

.panel-overflow-x{
	overflow-x: auto;
}
