// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$team-column-width: 40%;
$position-column-width: 20%;


.scoreboard{
	display: inline-block;
  border-color: #ddd;

  td{
  	text-align: center;
  }

  .header{
  	background-color: #f5f5f5;

	  td{
	  	border-style: solid;
	  	border-width: 0px 0px 1px 0px;
	  	border-color: #ddd;
	  }

  	.red-team-column{
  		width: $team-column-width;
  	}

  	.score-column{
  	  width: $position-column-width;
  	}

  	.blue-team-column{
  		width: $team-column-width;
  	}

  }

	.position-row{
		td{
			padding: .25em .25em .25em .25em;
		}
	}

}

.position-row:nth-child(odd){
	background-color: rgba(249, 249, 249, 1);
}




