// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.redteam{
	background-color: rgb(175, 0, 0) !important;
}

.blueteam{
	background-color: rgb(36, 69, 151) !important;
}

.table-padding td{
      padding: .25em;
  }