// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
	text-align: center;
	margin-top: -20px;
	box-shadow: inset 0px -69px 28px -49px rgba(255,255,255,1);
	background-image: image-url("hero-bg2.jpg");
	background-size: 100%;
	background-image:fixed
}




.jumbotron h1{
  text-shadow: 0 0.0625em 0.125em #202226;
}